nav a{

  padding:20px;
  padding-bottom:4px;
  font-size: 1.8em;

}
nav a:hover, #currentPage{ /*pseudo class*/
  color: black;
  font-size: 2em;
  transition: .2s;
  text-align: center;

}
body,main, nav, footer{
  /*width: 960px;*/
  /*margin: 0 auto;*/ /* This aligns the section in the center */

}

body{
  font-family:Trebuchet MS;
  text-align: center;

    /*background image*/
    background: url(images/handBack.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

img{
    /* opacity: 0.5; */
}

.intro{
  text-align:center;;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  text-shadow: black 3px 3px;
  font-size: 500%;
  font-style: oblique;
  font-family: "Palatino Linotype", "Pacifico", "Arial Rounded MT Bold", "Times New Roman";
}

.list
{
    margin: 1cm 8cm;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th, tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
      background-color: #dddddd;
}

.tables{
   margin: 1cm 8cm;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.add {
    background-color: #4CAF50;
    border: none;
    color: white;
    /*top, right, bottom, left */
    padding: 0px 25px 0px 25px;

    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 85px;
    margin: 2px 2px;
    cursor: pointer;
    border-top-left-radius:175px;
    border-top-right-radius:175px;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;

}

.modal-body {
    padding: 2px 16px;
    background-color: white;

}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;

}
body {
  font-family: Arial,sans-serif;
  margin: auto;
}

.box {
  border: .5em solid #E3E9FF;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-orient: vertical;
  -moz-box-align: center;
  display: block;
  box-orient: vertical;
  box-align: center;
  width: 750px;
  height: auto;
  margin: auto;
  padding: 10px;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.me {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  width: 700px;
}

.activities {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  width:100%;
}

.activity {
  margin: 10px;
}

header {
  color:#000;
  padding:2px 5px;
  font-size:100%;
  width: 400px;
  margin: auto;
  text-align: center
}

header h1.logo {
  margin:6px 0;
  padding:0;
  cursor:pointer;
  font-size:24px;
  line-height:20px;
}

.login {
  padding-right: 50px;
  cursor: pointer;
}

.logout {
  font-weight: normal;
  padding-top: -5px;
  margin-top: 0px;
}
#left{
  color: green;
}

.resize {
    width: 150px;
    height: auto;
}
