#ProfilePage
{
  margin: 50px auto;
  width: 635px;
  border: 1px solid red;
}

#LeftCol
{
    float: left;
    width: 200px;
    text-align: center;
    margin-right: 20px;
    border: 1px solid brown;
}
#title{
  color: green;
}

#Photo
{
  width: 200px;
  height: 200px;
  border: 1px solid green;
}

#PhotoOptions
{
    text-align: center;
    width: 200px;


border: 1px solid brown;
}

#Info
{
    width: 400px;
    text-align: center;


    float: right;

border: 1px solid blue;
}

#Info strong
{

    display: inline-block;
    width: 100px;


border: 1px solid orange;
}

#Info span
{
    display: inline-block;
    width: 250px;


border: 1px solid purple;
}
.demo-table {
  align: center;
  text-align: left;
   padding-left: .5cm;
  background:#d8f3d8;
  width: 60%;border-spacing: initial;
  margin: center;
  word-break: break-word;
  table-layout: auto;
  line-height:1.8em;
  color:#333;
}
.demo-table td {
  padding: 15px 15px 15px 15px;
}
body{
  background: url(../images/park.jpg) no-repeat center center fixed;
}
p{
  text-align: left;
   padding-left: .5cm;
}
